.alice-carousel .alice-carousel__wrapper {
	border-radius: .5rem;
	max-height: 400px;
}

/*.alice-carousel .alice-carousel__stage-item * {
	width: 100%;
}*/

.alice-carousel .slider-dot {
	width: 12px !important;
	height: 12px !important;
	background: var(--grey);
	flex: none;
	order: 0;
	flex-grow: 0;
	border: 1px solid transparent;
	margin: 0 0.25rem;
	border-radius: 50%;
	cursor: pointer;
}
.__active > .slider-dot {
	background: var(--white) !important;
	border: 1px solid var(--primary);
}

.slider-actions-container {
	width: 100%;
	height: calc(100% - 57px);
	position: absolute;
	top: 0;
	left: 0;
}
.slider-actions-container > .content {
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	height: 100%;
	padding: 1.5rem 2rem;
	gap: 1rem;
}
.slider-actions-container > .content > * {
	display: flex;
	justify-content: space-around;
	align-items: center;
	gap: .5rem;
	padding: .3rem 1.5rem;
	border-radius: 4px;
	font: var(--headline5);
	cursor: pointer;
}
.slider-actions-container > .content > * svg {
	filter: var(--black-filter);
	display: flex;
	align-items: center;
}

.alice-carousel .alice-carousel__slide-info {
	background-color: rgba(15, 14, 23, .5);
}
#movieTitle {
	color: var(--white);
}

.slider-timer-container {
	width: 98%;
	height: 1px;
	margin: 0 auto;
	position: absolute;
	left: 0;
	right: 0;
	background-color: var(--background);
}
.slider-timer {
	width: 0;
	height: 100%;
	transition: width 10s;
	background-color: var(--white);
}

.whatch-now {
	color: var(--black);
	background-color: var(--primary);
}
.whatch-later {
	color: var(--primary);
	border: 1px solid var(--primary);
	background-color: var(--black);
}
.whatch-later svg {
	filter: var(--primary-filter) !important;
}

.alice-carousel .alice-carousel__play-btn {
	display: none;
}

#Navigator {
	padding-top: 1rem;
	justify-content: space-around;
}
#Navigator button {
	text-align: center;
	margin: 0 auto;
	background-color: transparent;
	color: var(--white);
	font: var(--button);
	border: 1px solid var(--white);
	border-radius: 5px;
	padding: .2rem 1rem;
}